<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Administrar Técnicos</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="form-page">

    <h1>Administrar Técnicos</h1>

    <div class="orden-form">

        <form method="POST">

            <div class="campo">
                <label>Nuevo técnico</label>

                <input type="text"
                       name="nombre"
                       required>
            </div>

            <button type="submit" class="guardar-btn">
                Agregar técnico
            </button>

        </form>

        <table class="admin-table">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Técnico</th>
                    <th>Guardar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody>

                {% for tecnico in tecnicos %}

                <tr>

                    <td>{{ tecnico.id }}</td>

                    <td>

                        <form method="POST"
                              action="/editar_tecnico/{{ tecnico.id }}">

                            <input type="text"
                                   name="nombre"
                                   value="{{ tecnico.nombre }}"
                                   required>

                    </td>

                    <td>

                            <button type="submit"
                                    class="guardar-btn">
                                Guardar
                            </button>

                        </form>

                    </td>

                    <td>

                        <a href="/eliminar_tecnico/{{ tecnico.id }}"
                           class="eliminar-btn">

                           Eliminar

                        </a>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

        <a href="/administrar_formatos"
           class="regresar">

           Regresar

        </a>

    </div>

</div>

</body>
</html>