<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="form-page">
    <h1>Cambiar contraseña</h1>

    <form method="POST" class="orden-form">

        <div class="campo">
            <label>Nueva contraseña</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit" class="guardar-btn">
            Guardar contraseña
        </button>

        <a href="/menu" class="regresar">Regresar</a>

    </form>
</div>

</body>
</html>